<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/header.ejs') %>
    </head>
    <body>
        <div class="relative w-full h-full max-w-screen-6xl flex">
            <div class="flex flex-row w-full h-full">
                <!-- Navigation bar -->
                <%- include('../layouts/navbar.ejs', {position: "profileMetier"}) %>

                <!-- All content -->
                <div class="grow flex h-full overflow-y-auto">
                    <div class="flex flex-col w-full ">
                        <!-- Top bar -->
                        <%- include('../layouts/topBar.ejs', {name: "Profile Metier / Suspended"}) %>
                        <!-- Container -->
                        <div class="flex px-10 mt-4 justify-center items-center ">
                            <div class="flex flex-col gap-8 w-full">
                                <div class="flex flex-col lg:flex-row justify-between items-center w-full gap-6 text-sm">
                                    <!-- Actions button -->
                                    <a href="/user/back/view1"><i class="fa fa-chevron-left text" aria-hidden="true"></i></a>
                                    <div class="flex flex-row w-full md:w-8/12 lg:w-fit xl:w-4/12 bg-gray-200 rounded-xl py-2 px-4 gap-4 items-center">
                                        <form method="post" action="/user/searchRemove" class="flex flex-row w-full gap-4">
                                            <button type="submit"><svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg></button>
                                            <input type="text" name="searchItem" class="bg-gray-200 peer border-0 focus:border-0 grow" placeholder="Search User">
                                        </form>
                                    </div>
                                </div>
                                <div class="flex overflow-x-auto">
                                    <table class="text-sm text-left text-gray-500 w-full">
                                        <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                            <tr>
                                                <th scope="col" class="p-4"></th>
                                                <th scope="col" class="py-3 px-6">
                                                    FirstName
                                                </th>
                                                <th scope="col" class="py-3 px-6">
                                                    LastName
                                                </th>
                                                <th scope="col" class="py-3 px-6">
                                                    Info
                                                </th>
                                                <th scope="col" class="py-3 px-6">
                                                    Profile
                                                </th>
                                                <th scope="col" class="py-3 px-6">
                                                    Applications
                                                </th>
                                                <th scope="col" class="py-3 px-6">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% data.data.users.forEach(function(item) {%>
                                                <tr class="bg-white border-b hover:bg-gray-50">
                                                    <td class="p-4 w-4">
                                                        <div class="flex items-center">
                                                            <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                                        </div>
                                                    </td>
                                                    <td class="py-4 px-6">
                                                        <%= item.FirstName %>
                                                    </td>
                                                    <td class="py-4 px-6">
                                                        <%= item.LastName %>
                                                    </td>
                                                    <td class="py-4 px-6 flex flex-col gap-1">
                                                        <% item.Connection.forEach(con => { %>
                                                            <div class="flex flex-row gap-2">
                                                                <p><%= con.LogInfo %> </p> :
                                                                <p><%= con.Name %></p>
                                                            </div>
                                                        <% }) %>
                                                    </td>
                                                    <td class="py-4 px-6">
                                                        <%= item.Profile_Name %>
                                                    </td>
                                                    <td class="py-4 px-6">
                                                        <%= item.Cnt_Applications %>
                                                    </td>
                                                    <td class="py-4 px-6 ">
                                                        <!-- Modal toggle -->
                                                        <a href="/user/restort/<%= item.Id %>" type="button" data-id="<%= item.Id %>" data-view="false" class="font-medium text-[#FF432A] hover:underline active-modal-remove">Restort</a>
                                                    </td>
                                                </tr>
                                            <%}) %> 
                                        </tbody>
                                    </table>
                                </div>
                                <div class="flex justify-between items-center mb-4" aria-label="Table navigation">
                                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing <span class="font-semibold text-gray-900"><%= data.page.startIndex %>-<%= data.page.endIndex %></span> of <span class="font-semibold text-gray-900 dark:text-white"><%= data.page.totalIndex %></span></span>
                                    <ul class="flex items-center">
                                        <% if (typeof data.page.previous != 'undefined') { %>
                                            <li>
                                                <a href="/application/remove/<%= data.page.previous.page %>/<%= data.page.previous.limit %>" class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                                    <span class="sr-only">Previous</span>
                                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                                </a>
                                            </li>
                                        <% } %> 
                                        <li>
                                            <a aria-current="page" class="z-10 py-2 px-3 leading-tight text-red-600 bg-red-50 border border-red-300 hover:bg-red-100 hover:text-red-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"><%= data.page.actualPage %></a>
                                        </li>
                                        <% if (typeof data.page.next != 'undefined') { %>
                                            <li>
                                                <a href="/application/remove/<%= data.page.next.page %>/<%= data.page.next.limit %>" class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                                    <span class="sr-only">Next</span>
                                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                                </a>
                                            </li>
                                        <% } %> 
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modals -->
            <!-- Modal 1 -->
            <div class="absolute w-full h-full hidden modal-left-bar">
                <div class="relative flex w-full h-full">
                    <div class="absolute w-full h-full bg-black/30 bg-modal-left-bar"></div>
                    <div class="absolute flex flex-col gap-4 h-full border-r px-6 w-4/12 md:w-3/12 justify-between lg:hidden bg-white button-translate-in">
                        <div class="flex flex-col gap-4 w-full">  
                            <div class="flex py-4">
                                <div class="flex flex-row justify-between items-center w-full">
                                    <label class="text-xl font-medium ">
                                        Name
                                    </label>
                                    <a 
                                    href=""><i class="fa fa-chevron-right fa-xl" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="flex flex-col gap-2">
                                <label class="text-gray-700">Users</label>
                                <button class="flex flex-row gap-2 text-xl items-center font-light">
                                    <i class="fa fa-window-maximize fa-xl" aria-hidden="true"></i>
                                    Home
                                </button>
                                <button class="flex flex-row gap-2 text-xl items-center font-light">
                                    <div class="h-full w-[3px] bg-black rounded-t-lg rounded-b-lg"></div>
                                    <i class="fa fa-user-o fa-xl" aria-hidden="true"></i>
                                    Users
                                </button>
                                <button class="flex flex-row gap-2 text-xl items-center font-light">
                                    <i class="fa fa-folder-o fa-xl" aria-hidden="true"></i>
                                    Profile Metier
                                </button>
                                <button class="flex flex-row gap-2 text-xl items-center font-light">
                                    <i class="fa fa-folder-o fa-xl" aria-hidden="true"></i>
                                    Profile Metier
                                </butto
                                n>
                                <button class="flex flex-row gap-2 text-xl items-center font-light">
                                    <i class="fa fa-user-o fa-xl" aria-hidden="true"></i>
                                    Revue
                                </button>
                            </div>
                        </div>
                        <div class="flex w-full">
                            <img src="/assets/logo.png" class="w-full object-contain mb-10" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="absolute w-full h-full modal-create hidden">
            <div class="relative w-full h-full flex justify-center items-center">
                <div class="absolute w-full h-full bg-black/30 bg-modal-left-bar remove-modal-create"></div>
                <div class="absolute flex w-4/12 bg-white rounded-lg">
                    <div class="flex flex-col px-8 py-4 gap-10 w-full">
                        <div class="flex flex-row justify-between items-center">
                            <h1 class="text-lg font-semibold">Add Profile Metier</h1>
                            <button class="remove-modal-create"><i class="fa fa-times text-2xl text-red-600" aria-hidden="true"></i></button>
                        </div>
                        <form class="flex flex-col gap-6" method="post" action="/profileMetier">
                            <div class="flex flex-col gap-1">
                                <label class="text-md font-semibold">Profile metier</label>
                                <div class="flex flex-row gap-2 border-b border-black focus:border-red items-center pb-2">
                                    <input type="text" name="name" class="peer border-0 focus:border-0 text-md text-gray-400 grow" required>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1">
                                <label class="text-md font-semibold">abreviation</label>
                                <div class="flex flex-row gap-2 border-b border-black focus:border-red items-center pb-2">
                                    <input type="text" name="abreviation" class="peer border-0 focus:border-0 text-md text-gray-400 grow">
                                </div>
                            </div>
                            <div class="flex w-full justify-center">
                                <button type="submit" class="px-4 py-2 rounded-lg bg-black text-white text-lg font-semibold">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="absolute w-full h-full modal-edit hidden">
            <div class="relative w-full h-full flex justify-center items-center">
                <div class="absolute w-full h-full bg-black/30 bg-modal-left-bar remove-modal-edit"></div>
                <div class="absolute flex w-4/12 bg-white rounded-lg">
                    <div class="flex flex-col px-4 py-2 gap-10 w-full">
                        <h1 class="text-lg font-semibold">Edit Type Connection</h1>
                        <form class="flex flex-col gap-4" method="post" action="/profileMetier/edit">
                            <input type="number" name="id" value="" class="hidden edit-id"/>
                            <div class="flex flex-col gap-1">
                                <label class="text-md font-semibold">Profile metier</label>
                                <div class="flex flex-row gap-2 border-b border-black focus:border-red items-center pb-2">
                                    <input type="text" name="name" class="peer border-0 focus:border-0 text-md text-gray-400 edit-name grow" required>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1">
                                <label class="text-md font-semibold">abreviation</label>
                                <div class="flex flex-row gap-2 border-b border-black focus:border-red items-center pb-2">
                                    <input type="text" name="abreviation" class="peer border-0 focus:border-0 text-md text-gray-400 edit-abreviation grow">
                                </div>
                            </div>
                            <div class="flex w-full justify-center">
                                <button type="submit" class="px-4 py-2 rounded-lg bg-black text-white text-lg font-semibold">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Script -->
        <%- include('../layouts/footer.ejs') %>
    </body>
</html>
